@if (!isLoading()) {
  <p-tabs value="0" (valueChange)="onTabChange($event)">
    <p-tablist>
      <p-tab value="0">Planowane</p-tab>
      <p-tab value="1">Zakończone</p-tab>
    </p-tablist>

    <p-tabpanels>
      <p-tabpanel value="0">
        <app-date-list
          [events]="events()"
          (eventsUpdate)="onEventsUpdate($event)"
        ></app-date-list>
      </p-tabpanel>
      <p-tabpanel value="1">
        <app-date-list
          [completed]="true"
          [events]="events()"
          (eventsUpdate)="onEventsUpdate($event)"
        ></app-date-list>
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
} @else {
  <div class="flex flex-column">
    <p-skeleton
      shape="rectangle"
      width="90vw"
      height="10vh"
      styleClass="my-2 mx-1"
    ></p-skeleton>
    <p-skeleton
      shape="rectangle"
      width="90vw"
      height="20vh"
      styleClass="my-2 mx-1"
    ></p-skeleton>
    <p-skeleton
      shape="rectangle"
      width="90vw"
      height="20vh"
      styleClass="my-2 mx-1"
    ></p-skeleton>
  </div>
}
