@if (!isLoading()) {
  <h1 class="ml-4" style="color: var(--p-multiselect-color)">
    {{ mode() === "edit" ? "Edytuj" : "Dodaj" }} randkę
  </h1>
  <form [formGroup]="form">
    <p-card
      [style]="{
        width: '100%',
        overflow: 'show',
      }"
    >
      <!-- <ng-template pTemplate="header">
        <img alt="Card" class="w-full" />
    </ng-template> -->
      <ng-template pTemplate="title">
        <div class="flex justify-content-between">
          <p-iftaLabel variant="on">
            <input id="title" formControlName="title" pInputText />
            <label for="title">Nazwa</label>
          </p-iftaLabel>
        </div>
      </ng-template>

      <ng-template pTemplate="subtitle">
        <p-iftaLabel>
          <p-datepicker
            formControlName="dateOfCompletion"
            hourFormat="24"
            id="name"
            [dateFormat]="'dd/mm/yy'"
            [showTime]="true"
          />
          <label for="date">Data</label>
        </p-iftaLabel>
        @if (willDateBeCompleted) {
          <div class="flex gap-3 mt-2" style="color: var(--p-orange-400)">
            <i class="pi pi-exclamation-triangle"></i>
            <p>Po zapisaniu randka będzie zakończona</p>
          </div>
        }
      </ng-template>

      <p-iftalabel>
        <textarea
          id="description"
          rows="5"
          cols="30"
          pTextarea
          formControlName="description"
        ></textarea>
        <label for="description">Opis</label>
      </p-iftalabel>

      <p-iftalabel>
        <p-multiselect
          display="chip"
          formControlName="categories"
          name="categories"
          placeholder="Wybierz kategorie"
          styleClass="w-full"
          [options]="categories"
        ></p-multiselect>
        <label for="categories">Kategorie</label>
      </p-iftalabel>

      <ng-template pTemplate="footer">
        <div class="w-6 flex gap-4 mt-1">
          <p-button
            label="Anuluj"
            severity="danger"
            class="w-full"
            styleClass="w-full"
            [outlined]="true"
            [routerLink]="['/']"
          />
          <p-button
            class="w-full"
            styleClass="w-full"
            [disabled]="!form.valid || isSaving()"
            [label]="
              mode() === 'create'
                ? isSaving()
                  ? 'Dodawanie...'
                  : 'Dodaj'
                : isSaving()
                  ? 'Zapisywanie...'
                  : 'Zapisz'
            "
            (click)="mode() === 'create' ? create() : save()"
          />
        </div>
      </ng-template>
    </p-card>
  </form>
} @else {
  <p-skeleton width="90vw" height="8vh" styleClass="my-3 mx-auto"></p-skeleton>
  <p-skeleton width="90vw" height="40vh" styleClass="my-2 mx-auto"></p-skeleton>
}
