<p-card
  [style]="{
    width: '100%',
    overflow: 'hidden',
    boxShadow: '0 0 0 2px var(--p-surface-800)',
  }"
>
  <!-- <ng-template pTemplate="header">
        <img alt="Card" class="w-full" />
    </ng-template> -->
  <ng-template pTemplate="title">
    <div class="flex justify-content-between">
      <span class="font-bold">{{ event().title }}</span>
      <i class="pi pi-pencil p-1" [routerLink]="['/', 'edit', event().id]"></i>
    </div>
  </ng-template>
  <ng-template pTemplate="subtitle">
    {{ event().date_completion | date: "dd/MM/yyyy HH:mm" }}
  </ng-template>

  @for (category of event().categories; track category) {
    <p-tag styleClass="mr-2 mb-2">{{ category | category }}</p-tag>
  }

  <app-date-event-details [eventId]="event().id"></app-date-event-details>

  <ng-template pTemplate="footer">
    <p-confirmpopup />
    <div class="w-6 flex gap-4 mt-1">
      <p-button
        severity="danger"
        class="w-full"
        styleClass="w-full"
        [disabled]="dateEventsService.allCount() <= 1"
        [label]="'Usuń'"
        [outlined]="true"
        (click)="delete($event)"
      />
      @if (!event().completed) {
        <p-button
          class="w-full"
          styleClass="w-full"
          [label]="'Zakończ'"
          (click)="finish($event)"
        />
      }
    </div>
  </ng-template>
</p-card>
