@import "primeicons/primeicons.css";

@font-face {
    font-family: 'Gantari';
    src: url('../src/app/assets/fonts/Gantari-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Gantari';
    background-color: var(--p-surface-900);
}