:host {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    justify-self: center;

    .pi-plus {
        font-size: 3rem;
        color: var(--p-surface-800);
        padding: 1vh;
        border-radius: 20px;
        background-color: var(--p-primary-color);
        position: fixed;
        bottom: 3vh;
        right: 3vh;
    }

    p-tabs,
    p-tablist {
        width: 100%;

        p-tab {
            width: 50%;
            display: flex;
            justify-content: center;
        }
    }
}